.table-container {
  margin-right: auto;
  margin-left: auto;
  width: 65%;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.flex-item {
  margin-left: 10px;
}

table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.buttonInvisible {
  opacity: 0 !important;
}

.w-35 {
  width: 35%;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 5%;
}

.btn-action {
  margin-left: 5px;
}
