<form [formGroup]="form" (ngSubmit)="saveStudent()" class="form-container">

    <h2>Student Form</h2>

    <div class="form mat-elevation-z8">
        <div class="form-row">
            <mat-form-field [style.width.%]="48" appearance="fill">
                <mat-label>Name</mat-label>
                <input required formControlName="name" matInput placeholder="Miguel">
            </mat-form-field>
            <mat-form-field [style.width.%]="48" appearance="fill">
                <mat-label>Las Name</mat-label>
                <input formControlName="lastName" required matInput placeholder="Alcántara">
            </mat-form-field>
        </div>
        <div class="form-row">
            <mat-form-field style="margin-right: 10px;" [style.width.%]="28" appearance="fill">
                <mat-label>Age</mat-label>
                <input min="0" type="number" formControlName="age" required matInput>
            </mat-form-field>

            <input (change)="uploadStudentsBio($event)" accept=".docx, .pdf, .txt" hidden type="file" name="file"
                id="fileInput" #fileInput>

            <button (click)="fileInput.click()" style="flex-grow: 1;" [style.height.px]="50" mat-button color="" aria-label="Upload students" type="button">
                <mat-icon>upload</mat-icon> {{studentsBioFile?.name || 'Upload bio'}}
            </button>
        </div>
    </div>

    <div class="button-container">
        <button type="button" routerLink="" class="flex-item" mat-raised-button color="warn">Cancel</button>
        <button [disabled]="!form.valid" type="submit" class="flex-item" mat-raised-button color="primary">Save</button>
    </div>
</form>
